/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 7rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

h2, h3 {
    color: #005f73;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #e9ecef;
}

tfoot td {
    font-weight: bold;
}

#unpaidOrdersTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

#unpaidOrdersTable th, #unpaidOrdersTable td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #dee2e6;
}

#unpaidOrdersTable th {
    background-color: #e9ecef;
}

#unpaidOrdersTable tfoot td {
    font-weight: bold;
}